.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  background: linear-gradient(
      rgb(255, 255, 255),
      rgba(104, 77, 77, 0.3)
    ),
  url("https://images.pexels.com/photos/1181263/pexels-photo-1181263.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size:auto ;
  background-position: center;
}
form{
    background-color: white;
    margin: center;
    padding: 10px 20px;
    border-radius: 5px;
    width: 30%;
    align-content: center;

    
}
input{
  padding: 15px;
  margin: 0px 0px;
  width: 90%;

}
input[type=text] {
  width: 200px;
  transition: ease-in-out, width .35s ease-in-out;
  
}

input[type=text]:focus {
  width: 380px;
}

input[type=password] {
  width: 200px;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=password]:focus {
  align-items: center;
  width: 380px;
}

input[type=date] {
  width: 200px;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=date]:focus {
  width: 380px;
}

p{
  font-family: helvetica;

}

h1{
    font-family: helvetica;
    color: rgb(77, 1, 77);
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #D69CEE;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;

}

button:hover{
  background-color: rebeccapurple;
  transition: 1s;
}

